{% extends 'home.html' %}

{% block title %}
About
{% endblock title %}

{% block body %}

<style>
    /* Add your custom styles here */
    body {
      background-color: #f8f9fa;
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }

    .container {
      margin: 50px auto;
      max-width: 800px;
      padding: 0 20px;
    }

    h1 {
      font-size: 36px;
      text-align: center;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    ul {
      list-style: disc;
      padding-left: 20px;
    }

    li {
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
    <body>
        <div class="container">
          <h1>About Us</h1>
          <hr style="border: 2px solid  black">
          <p>Welcome to E-Marketer!</p>
      
          <p>At E-Marketer, we are passionate about providing innovative solutions for effective email marketing. Our mission is to empower businesses and individuals with a powerful tool that simplifies email campaigns, maximizes reach, and enhances engagement.</p>
      
          <h2>Our Vision</h2>
          <p>Our vision is to be the leading provider of email marketing tools that enable businesses of all sizes to connect with their target audience in a meaningful and impactful way. We strive to continuously innovate and evolve our platform to meet the changing needs and demands of the digital marketing landscape.</p>
      
          <h2>Our Values</h2>
          <ul>
            <li><strong>Customer Success:</strong> Our customers' success is our success. We are dedicated to providing exceptional customer support, listening to feedback, and continuously improving our platform to meet the needs of our users.</li>
            <li><strong>Innovation:</strong> We embrace innovation and constantly strive to develop new and creative solutions that empower our users to stay ahead in the competitive landscape of email marketing.</li>
            <li><strong>Data Security:</strong> We prioritize the security and privacy of our users' data. We have implemented robust security measures to protect sensitive information and ensure compliance with relevant data protection regulations.</li>
          </ul>
      
          <p>We are committed to delivering a reliable, feature-rich, and user-friendly email marketing tool that helps businesses effectively engage with their audience. We understand the importance of email marketing as a strategic channel for growth and aim to provide a platform that drives results.</p>
      
          <p>Thank you for choosing E-Marketer as your trusted partner in email marketing. We look forward to helping you achieve your marketing goals and grow your business.</p>

          <a class="btn btn-primary btn-lg" href="/privacy&policy" role="button">Privacy & Policy</a>

        </div>
      </body>
      


{% endblock body %}
      
 