{% extends 'home.html' %}

{% block title %}
Email database
{% endblock title %}

{% block body %}
<style>
    .center-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }

    .form-group input[type="email"] {
        height: 40px;
        border: 2px solid gray;
    }
</style>
<div class="text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <strong><h1 class="display-4">Enter email addresses Here!!</h1></strong>
            <p class="lead">Help us to build large database of email addresses,<br> so that people can send emails to maximum number of peoples.</p>
        </div>
    </div>
</div>


<div class="center-form">
    <form method="post" action="/database">
        {% csrf_token %}
        <div class="form-group row">
            <label for="emailaddress" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control form-control-lg" id="colFormLabelLg" name="emailaddress" placeholder="Enter email address">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10 mb-7">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock body %}