{% extends 'home.html' %}

{% block title %}
Success
{% endblock title %}

{% block body %}
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="text-center">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Your Email is Successfully Sent.</h1>
            <p class="lead">Thank You for choosing us.If you have any query <a href='contact'>Contact us.</a></p>
            <p class="lead">
                <a href="/" class="btn btn-dark btn-success">Home</a>
            </p>
        </main>
    </div>
</div>
{% endblock body %}