{% extends 'home.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">E-Marketer | Email Database</h1>
    <p class="lead">Hey there!! Help us to build our database for Email marketing.Provide us Email addresses form here.</p>
    <hr class="my-4">
    <p>Get Started form here. Click the below button.</p>
    <a class="btn btn-dark btn-lg" href="/database" role="button">Get Started</a>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">E-Marketer | Send Emails From Here</h1>
    <p class="lead">Send your Emails from here and start your Marketing With us. Thank You!!</p>
    <hr class="my-4">
    <p>Get Started form here. Click the below button.</p>
    <a class="btn btn-dark btn-lg" href="/verification" role="button">Get Started</a>
  </div>
{% endblock body %}

